<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Create New Task</title>

	<link rel="stylesheet" type="text/css" th:href="@{/styles/admin-create-new-task.css}" />


</head>

<body>
	<div class="form-container">
		<div>
			<form action="/admin/create/task" th:object="${myTaskDto}" method="post">
				<div>
					<h1>Enter Task Details</h1>
				</div>
				<div class="task-input">
					<div><label for="content">Message Content:</label><br /></div>

					<div><textarea name="content" rows="4" cols="50"></textarea><br /></div>
					<div class="task-complete">
						<label for="complete]">Task Complete Status: </label> <input type="checkbox" name="complete"
							id="complete" />
					</div>
				</div>

				<div class="scott-button">
					<button type="submit">Submit</button>
				</div>
			</form>

			<div class="scott-button">
				<button>
					<a th:href="@{/admin/index}">Home Page</a>
				</button>
			</div>
		</div>
	</div>
</body>

</html>