<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Index</title>
	<link rel="stylesheet" th:href="@{/styles/admin-task-added.css}">
</head>

<body>
	<div class="container">
		<h1>New Task created and saved to our database</h1>

		<div class="details">
			<form action="/admin/index" method="get">
				<div>
					<h2>ID: <span th:text="${id}">ID</span></h2>
				</div>
				<div>
					<h2>Username: <span th:text="${username}">username</span></h2>
				</div>
				<div>
					<h2>Content: <span th:text="${content}">Content</span></h2>
				</div>
				<div>
					<h2>Complete: <span th:text="${complete} ? 'true' : 'false'">Complete</span></h2>
				</div>

			</form>

			<div class="scott-button">
			        <a th:href="@{/admin/index}"> Go to Admin Index Page </a>
			    </div>

		</div>

	</div>
</body>

</html>